
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>

<div>

    <font color="red"><h1> <marquee scrollamount="20">  <<<<<<<<<<আস্সালামুয়ালাইকুম জাহিদ সার>>>>>>>>>   <br>পরম করুনাময় অসীম দয়ালু মহান আল্লাহর নাম শুরু করছি</br></marquee> </h1></font>
    <font color="green"><h1>মাকসুদুর রহমান (বাবু) পরিচালিত ছাত্র-সাইটে  আপনাকে স্বাগতম</h1></font>
    <img class="justify-content-center" src="~/Picture/11.gif" height="400px">
</div>


